body {
  font-family: 'Times New Roman', serif;
  background-color: #d2d2d2;
  margin: 0;
  padding: 0;
}

.kotak_background{
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 25px;
  max-width: 500px;
  margin: 20px auto;
}

.judul_rekap{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.kotak_judul{
  text-align: center;
  background-color: beige;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0;
  width: 100%;
}

.tabel_rekap{
  margin: 0 auto;
  max-width: 500px;
}

input[type="submit"] {
  background-color: rgb(22, 220, 8);
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

input[type="reset"] {
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: rgb(0, 179, 0);
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: rgb(179, 0, 0);
  cursor: pointer;
}

input[type="text"], input[type="email"], textarea, select {
  width: 100%;            
  padding: 10px;           
  margin-top: 10px;
  margin-bottom: 10px;   
  border: 5px #7d7d7d;
  border-radius: 4px;     
  font-size: 14px;        
  box-sizing: border-box;
  background-color: #fcfcfc;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover, select:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

label {     
  font-weight: bold;      
}




